{% extends 'base.html'%}
{% load static%}
{%block content%}

<main class="main">
    <div class="intro-slider-container">
        <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav":false, "dots": false, "loop": false}'>
            <div class="intro-slide" style="background-image: url(assets/images/demos/demo-15/slider/slide-1.jpg);">
                <div class="container intro-content text-center">
                    <h3 class="intro-subtitle">Want to know what's hot?</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title text-white">Spring Lookbook 2019</h1><!-- End .intro-title -->

                    <a href="#title" class="btn btn-outline-primary-2 scroll-to">
                        <span>Start scrolling</span>
                        <i class="icon-long-arrow-down"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->
        </div><!-- End .intro-slider owl-carousel owl-simple -->

        <span class="slider-loader text-white"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->
    


    <div class="display-row" style="background-color: #f2f2f2;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner banner-light banner-overlay">
                        <!-- <a href="#"> -->
                            <img class="container" src="{% static 'assets/images/demos/demo-15/banners/banner-2.jpg' %}" alt="Banner">
                        <!-- </a> -->
                        
                        <div class="banner-content women">
                            <h2 class="banner-title">Search for your order</h2><!-- End .banner-title -->
                            <!-- <h3 class="banner-subtitle text-darkblack">IN THIS LOOK</h3>End .banner-subtitle    -->
                                
                            <form action="{% url 'search'%}" style="margin: auto;width: 100%;" method="post">
                                {%csrf_token%}
                                <div class="header-search-wrapper d-flex">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="search_button" id="q" placeholder="Order id..." required>
                                    <button class="btn btn-primary" style="height: 40px !important; margin-right: 20px !important;" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-6 -->

                <div class="col-lg-6">
                    <div class="heading text-center">
                        <h2 class="title" id="title">About This Look</h2><!-- End .title text-center -->
                        <p class="title-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p><!-- End .title-desc -->
                    </div><!-- End .heading -->

                    <div class="row">
                        {% for order in products reversed%}
                        <div class="col-6 col-md-4">
                            <div class="product product-4">
                                <figure class="product-media">
                                    <a href="{%url 'cartid' order.id%}">
                                        <img src="{{order.ImageFIRSTURL}}" alt="Product first-image" class="product-image">
                                        <img src="{{order.ImageSECONDURL}}" alt="Product second-image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action">
                                        <a href="" data-product="{{order.id}}" data-action="add" class="btn-product btn-cart update-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="{%url 'cartid' order.id%}">{{order.name}}</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        ${{order.price}}
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 -->
                        {% endfor%}
                    </div><!-- End .row -->
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->
        </div><!-- End .container-fluid -->
    </div><!-- End .display-row .bg-light -->

    <div class="video-banner video-banner-bg video-fullheight bg-image text-center" style="background-image: url(assets/images/demos/demo-15/bg-1.jpg)">
        <div class="container">
            <h3 class="video-banner-title h1 text-white"><span>Spring / Summer</span>The New Romantic Collection 2019</h3><!-- End .video-banner-title -->
            <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a>
        </div><!-- End .container -->
    </div><!-- End .video-banner bg-image -->


    <div class="mb-2"></div><!-- End .mb-2 -->

    <div class="container-fluid">
        <div class="cta cta-separator">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cta-wrapper cta-text text-center">
                        <h3 class="cta-title">Shop Social</h3><!-- End .cta-title -->
                        <p class="cta-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p><!-- End .cta-desc -->
                
                        <div class="social-icons social-icons-colored justify-content-center">
                            <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                            <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .cta-wrapper -->
                </div><!-- End .col-lg-6 -->

                <div class="col-lg-6">
                    <div class="cta-wrapper text-center">
                        <h3 class="cta-title mb-2">Our Costumers Say</h3><!-- End .cta-title -->

                        <div class="owl-carousel owl-simple owl-testimonials" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": true,
                                "responsive": {
                                    "1500": {
                                        "nav": true
                                    }
                                }
                            }'>
                            <blockquote class="testimonial testimonial-icon text-center">
                                <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. ”</p>

                                <cite>
                                    Charly Smith,
                                    <span>Customer</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->

                            <blockquote class="testimonial testimonial-icon text-center">
                                <p>“ Impedit, ratione sequi, sunt incidunt magnam et. Delectus obcaecati optio eius error libero perferendis nesciunt atque. ”</p>

                                <cite>
                                    Damon Stone
                                    <span>Customer</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->

                            <blockquote class="testimonial testimonial-icon text-center">
                                <p>“ Perferendis perspiciatis, voluptate, distinctio earum veritatis animi tempora eget blandit nunc tortor eu nibh. ”</p>

                                <cite>
                                    John Smith
                                    <span>Customer</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->
                        </div><!-- End .testimonials-slider owl-carousel -->
                    </div><!-- End .cta-wrapper -->
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->
        </div><!-- End .cta -->
    </div><!-- End .container-fluid -->

    <div class="mb-7"></div><!-- End .mb-7 -->

</main><!-- End .main -->



{%endblock%}